{% block content %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles/styles.css' %}">

    <div class="booking-container">
        <div class="room-details">
            <h2>Book a Room in {{ room.hostel.name }}</h2>
            <p class="room-description">{{ room.description }}</p>
            <p><strong>Price per month:</strong> ksh{{ room.price }}</p>
        </div>
        <div class="top-section">
            <div class="room-image">
                <img src="{{ room.images.url }}" alt="{{ room_type }}">
            </div>
        </div>

        <form method="post" action="{% url 'book_room' room.id %}" class="booking-form">
            {% csrf_token %}

            <div class="form-field">
                <label for="hostel">Hostel</label>
                <input type="text" id="hostel" value="{{ room.hostel.name }}" readonly>
            </div>

            <div class="form-field">
                <label for="room">Room</label>
                <input type="text" id="room" value="{{ room.room_number }}" readonly>
            </div>

            <div class="form-field">
                {{ form.start_date.label_tag }}
                {{ form.start_date }}
            </div>

            {% if messages %}
            <div class="messages">
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
            {% endif %}
        
            <button type="submit" class="submit-btn">Book Now</button>
        </form>

        <div class="related-rooms">
            <h3>Explore More Rooms</h3>
            {% if related_rooms_by_type %}
                {% for room_type, rooms in related_rooms_by_type.items %}
                <div class="room-type">
                    <h4>{{ room_type|title }}</h4> <!-- Display room type, e.g., "Single", "Bedsitter" -->
                    <div class="room-list">
                        {% for related_room in rooms %}
                        <div class="room-card">
                            <img src="{{ related_room.images.url }}" alt="Room Image">
                            <p><strong>Room Number:</strong> {{ related_room.room_number }}</p>
                            <p><strong>Price:</strong> ksh{{ related_room.price }}</p>
                            <a href="{% url 'book_room' related_room.id %}" class="room-link">View Room</a>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                {% endfor %}
            {% else %}
                <p>No related rooms available in this hostel.</p>
            {% endif %}
        </div>
        
        
    </div>

{% endblock content %}
